{{ ansible_managed | comment }}

{% if item.enabled is defined and item.enabled or item.enabled is not defined %}
Device {
{% if item.count is defined %}
  # multiply this device Count times
  Count = {{ item.count }}

{% endif %}
  Name = "{{ item.name }}"
{% if item.description is defined %}
  Description = "{{ item.description }}"
{% endif %}
{% if item.maximum_concurrent_jobs is defined %}
  Maximum Concurrent Jobs = {{ item.maximum_concurrent_jobs }}
{% endif %}
  Media Type = "{{ item.media_type }}"
  Archive Device = "{{ item.archive_device }}"
{% if item.device_type is defined %}
  Device Type = "{{ item.device_type }}"
{% endif %}
{% if item.device_options is defined %}
  Device Options = "{{ item.device_options }}"
{% endif %}
  AlwaysOpen = {{ item.always_open | default(true) | ternary('yes', 'No') }}
  Autochanger = {{ item.autochanger | default(false) | ternary('yes', 'No') }}
  AutomaticMount = {{ item.automatic_mount | default(false) | ternary('yes', 'No') }}
  AutoSelect = {{ item.auto_select | default(true) | ternary('yes', 'No') }}
  LabelMedia = {{ item.label_media | default(false) | ternary('yes', 'No') }}
  Random Access = {{ item.random_access | default(false) | ternary('yes', 'No') }}
  RemovableMedia = {{ item.removable_media | default(true) | ternary('yes', 'No') }}
}
{% else %}
# This file is not enabled.
{% endif %}
